<h2>Sign up</h2>
<form action="/auth/signup" method="post">
<label for="username">Username</label>
<input type="text" name="username" id="username" value="Test user">
<label for="email">Email</label>
<input type="email" name="email" id="email" value="test@test.com">
<label for="password">Password</label>
<input type="password" name="password" id="password">

<span>Role</span>
<label for="admin">Admin</label>
<input type="checkbox" id="admin" name="role" value="admin">
<label for="user">User</label>
<input type="checkbox" id="user" name="role" value="user">

<label for="avatar">Avatar</label>
<input type="file" id="avatar" name="avatar">
<button>Sign up</button>
</form>